[user]
	email = guillaume.muret@reseau.eseo.fr
	name = Guillaume Muret
[color]
    ui = true
[core]
    editor = vim
    pager = less -R -F -X
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	tool = meld
